{% extends "layout.html" %}
{% block title %}Registrar Catequizando{% endblock %}
{% block content %}
<h2>Registrar Catequizando</h2>

<form method="POST" class="form">
  <label>Nombre:</label>
  <input type="text" name="Nombre" required>

  <label>Apellido:</label>
  <input type="text" name="Apellido" required>

  <label>Fecha de Nacimiento:</label>
  <input type="date" name="FechaNacimiento" required>

  <label>¿Está Bautizado?</label>
  <select name="FeBautismo" required>
    <option value="1">Sí</option>
    <option value="0">No</option>
  </select>

  <button type="submit" class="btn submit">Guardar</button>
</form>

<a href="{{ url_for('index') }}" class="btn">Volver al listado</a>
{% endblock %}