{% extends "layout.html" %}
{% block title %}Nuevo Catequizado{% endblock %}
{% block content %}
<h2>Registrar Nuevo Catequizado</h2>

<form method="POST" class="form">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" required>

  <label for="apellido">Apellido:</label>
  <input type="text" id="apellido" name="apellido" required>

  <label for="telefono">Teléfono:</label>
  <input type="text" id="telefono" name="telefono" maxlength="10" required>

  <label for="fecha">Fecha de Nacimiento:</label>
  <input type="date" id="fecha" name="fecha" required>

  <label for="id_bautismo">Seleccionar Bautismo:</label>
  <select id="id_bautismo" name="id_bautismo" required>
    <option value="">-- Seleccione --</option>
    {% for b in bautismos %}
      <option value="{{ b.IdBautismo }}">
        {{ b.IdBautismo }} - {{ b.ParroquiaBautismo }}
      </option>
    {% endfor %}
  </select>

  <button type="submit" class="btn submit">Guardar</button>
</form>
{% endblock %}