{% extends "layout.html" %}
{% block title %}Editar Catequizado{% endblock %}
{% block content %}
<h2>Editar Catequizado</h2>

<form method="POST" class="form">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" value="{{ catequizado.Nombre }}" required>

  <label for="apellido">Apellido:</label>
  <input type="text" id="apellido" name="apellido" value="{{ catequizado.Apellido }}" required>

  <label for="telefono">Teléfono:</label>
  <input type="text" id="telefono" name="telefono" maxlength="10" value="{{ catequizado.Telefono }}" required>

  <label for="fecha">Fecha de Nacimiento:</label>
  <input type="date" id="fecha" name="fecha" value="{{ catequizado.FechaNacimiento }}" required>

  <label for="id_bautismo">ID Bautismo:</label>
  <input type="number" id="id_bautismo" name="id_bautismo" value="{{ catequizado.IdBautismo }}" required>

  <button type="submit" class="btn submit">Actualizar</button>
</form>
{% endblock %}
